html, body, span, applet, object, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 100000;
  vertical-align: baseline;
}

p, ul, li{
    margin: 10px;
}
h6 {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}
div {
    margin:0px 0px;
}
.marginTwo{
    margin:1px 1px;
}
.editorstyle {
  flex: 0 0 auto;
  width: 100%;
  max-height: 65%;
  min-width: 0px;
  background: #000;
    cursor:none;
    pointer-events: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px;
}

.grid-item {
  background-color: #00000073;
}
#keyboard {
  list-style: none;
}
#keyboard input {
  float: left;
  height: 105px;
  /* box-sizing: border-box; */
  font-weight: bold;
  width: 105px;
  border-style: solid;
  -moz-box-shadow: 0 0 3px #FFFFFF;
  -webkit-box-shadow: 0 0 3px #FFFFFF;
  box-shadow: 0px 0px 3px #FFFFFF;
  border-width: 1px 1px 0px 0px;
  font-size: 33px;
  text-align: center;
  color: #b6b6b6;
  background: rgba(0,0,0,0.75);
}
#keyboard input:hover {
  background: rgba(175,23,72,0.77);
}
.capslock, .tab, .left-shift {
  clear: left;
}
#keyboard .tab, #keyboard .delete, #keyboard .backspace , #keyboard .nums, #keyboard .return, #keyboard .uparrow , #keyboard .downarrow ,#keyboard .leftarrow , #keyboard .rightarrow {
  /* background: grey; */
}
#keyboard .letter{
}
#keyboard .symbol {
  display: none;
}
#keyboard .capslock {

}
#keyboard .left-shift {

}
#keyboard .right-shift {
}
.lastitem {
  margin-right: 0;
}
.separator {
  margin-right:60px;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {

}
.on {
  display: none;
}
#loader {
  border: 10px solid #cb1919;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 10px solid #555;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 60%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hintsButton {
    padding: 30px;
    width: 50px;
    height: 40px;
    position: fixed !important;
    font-weight: bold;
    display:none;
    margin:5px;
    font-size: 50px;
    text-align: center;
    color: #b6b6b6;
    background: #1e1e1e
}
.hintsButton:hover {
    padding: 30px;
    width: 50px;
    height: 40px;
    position: fixed !important;
    background: orangered;
    font-weight: bold;
    font-size: 50px;
    display:none;
    margin:5px;
}
.hintButtonright {
    bottom:432px !important;
    right: 145px;
    width: 40px;
    height: 40px;
    padding: 35px;
    position: fixed !important;
    display: none;
    font-weight: bold;
    /*border-style: solid;*/
    /*-moz-box-shadow: 0 0 3px #FFFFFF;*/
    /*-webkit-box-shadow: 0 0 3px #FFFFFF;*/
    /*border:1px solid #FFFFFF;*/
    font-size: 71px;
    text-align: center;
    color: #b6b6b6;
    background: #1e1e1e
}
.hintButtonleft{
    bottom: 432px !important;
    left: 120px;
    width: 40px;
    height: 40px;
    padding: 35px;
    position: fixed !important;
    display: none;
    font-weight: bold;
    /*border-style: solid;*/
    /*-moz-box-shadow: 0 0 3px #FFFFFF;*/
    /*-webkit-box-shadow: 0 0 3px #FFFFFF;*/
    /*border:1px solid #FFFFFF;*/
    font-size: 71px;
    text-align: center;
    color: #b6b6b6;
    background: #1e1e1e
}


.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    right:30%;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.CodeMirror {border-top: 0px solid black; border-bottom: 1px solid black;  height: 100%; left:0px; cursor:none;}
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white; }
.styled-background { background-color: #ff7; }
.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}
.btn-primary{
    width: auto;
    padding: 1px 4px;
    border-radius: 1px;
}

.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }


.optionstyle{
    background: #9c3328;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #fff;
}
select#buffers_top {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #001e3c;
    background:#001e3c;
    border-radius:10px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    margin: 15px;
    padding:5px 25px;
    text-decoration:none;
    text-shadow:0px 2px 0px #3d768a;
}
.myButton:hover {
    box-shadow: 0px 10px 14px -7px #001e3c;
    background:#001e3c;
    border-radius:10px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    margin: 15px;
    padding:5px 25px;
    text-decoration:none;
    text-shadow:0px 2px 0px #3d768a;
}
.myButton:active {
    position:relative;
    top:1px;
}
.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 6px;
    margin-bottom: -1px;
}
.tab {
    padding: 2px 5px;
    background: #fff;
    border: 1px solid #bb3030;
    width: fit-content;
    display: inline-block;
}
.tab.active {
    background-color: #0044cc;
    color:#fff;
    border-bottom-color: white !important;
}

.tab-pane {
    display: none;
    border: 1px solid #bbb;
}
.tab-pane.active {
    display: block;
}

.initialPoint {
    display: none;
}
.errorDisplay{
    font-family: 'Droid Sans Mono', monospace;
    font-size: 12px;
    margin-top:5px;
    font-weight: normal;
    font-style: italic;
    color: #ee1502;
    padding: 2px 10px;
}

#displaySpeech{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
}
#displaymicinfo{
    font-size:15px;
    text-align: left;
    overflow: visible;
    margin-top:0px;
    font-family: monospace, monospace;
    margin-left: 32px;
    padding:3px;
    font-weight:bold;
    color: #f18b94;
}
#gotoTest{

}
#voiceText{
    font-size: 12px;
    font-weight: bold;
    border: 0px solid #bdbdbd;
    /* left: 30%; */
    margin-top: 16px;
    min-height: 30px;
    margin-left:-5%;
    text-align: left;
    line-height: 1.0;
    overflow: hidden;
}
#micpic {
    height: 4vh;
    margin-top: 2vh;
}

.pulse-ring {
    content: '';
    width: 30px;
    height: 30px;
    border: 10px solid #F00;
    border-radius: 50%;
    position: absolute;
    animation: pulsate infinite 2s;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.4;
    }
}
#vertical-menu {
    background: #004050;
    width: 250px;
    margin: 100px auto 0 auto;
    color: white;
    /*box-shadow:
		0 5px 15px 1px rgba(0, 0, 0, 0.6),
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
#loader {
    border: 10px solid #e22f2f;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 10px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top:12px
}
/*heading styles*/
#vertical-menu h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #003040;
    background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
#vertical-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#vertical-menu h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
#vertical-menu li {
    list-style-type: none;
}
/*links*/
#vertical-menu ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#vertical-menu ul ul li a:hover {
    background: #003545;
    /*border-left: 5px solid lightgreen;*/
}
/*Lets hide the non active LIs by default*/
#vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
.card-title {
    margin-top: .08rem;
    color:#000000;
    font-size:14px;
    font-weight:bold;
    padding:1px;
    margin-bottom: .005rem;
}
.collapse >h6:first-child{
    margin-top: .03rem;
    color:#000000;
    background: #c0c0c0;
    padding:5px;
    margin-bottom: .01rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     padding: 0.08rem 1.5rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     padding: 0px !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none !important;
    background-clip: border-box;
}
.codeYellow {
    font-size:12px;
    width:80%;
}
.helpCodeDesc{
    margin-left:10px;margin-top:-2px;float:left;font-size:12px; color:#fff
}
.mb-1{
    font-size:13px !important;
}
.card-text{
    font-size:12px;
    margin: 2px 1px !important;
}
.form-control, .custom-select{
    border: 2px solid #0a001f !important;
}
.taskButtonDiv{
    width: 15%;
    float: left;
    margin-left: 15%;
    margin-top: 10px;
}
.fLeft{
    float: left;
    padding:2px;
}
.fRight{
    float:right;
    margin-right:25%;
    padding:2px;
}

.h4, h4 {
    font-size: 1.2rem;
}



#keyboard {
    list-style: none;
}
#keyboard input {
    float: left;
    height: 110px;
    /* box-sizing: border-box; */
    font-weight: bold;
    width: 110px;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    font-size: 33px;
    text-align: center;
    color: #b6b6b6;
    background: rgba(0,0,0,0.75);
}
#keyboard input:hover {
    background: rgba(175,23,72,0.77);
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete, #keyboard .backspace , #keyboard .nums, #keyboard .return, #keyboard .uparrow , #keyboard .downarrow ,#keyboard .leftarrow , #keyboard .rightarrow {
    /*background: grey;*/
}
#keyboard .letter{
}
#keyboard .symbol {
    display: none;
}
#keyboard .capslock {

}
#keyboard .left-shift {

}
#keyboard .right-shift {
}
.lastitem {
    margin-right: 0;
}
.separator {
    margin-right:60px;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {

}
.on {
    display: none;
}

/* keyboard - jQuery UI Widget */
.ui-keyboard {
    text-align: center;
    padding: .3em;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 16000;
    /* see issue #484 */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.ui-keyboard-has-focus {
    z-index: 16001;
}
.ui-keyboard div {
    font-size: 1.1em;
}
.ui-keyboard[contenteditable] {
    white-space: pre;
}

.ui-keyboard-button {
    height: 2em;
    min-width: 2em;
    margin: .1em;
    cursor: pointer;
    overflow: hidden;
    line-height: 2em;
    -moz-user-focus: ignore;
}
.ui-keyboard-button span {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}
.ui-keyboard-button-endrow {
    clear: left;
}
.ui-keyboard-space {
    width: 15em;
}
/* see http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ui-keyboard-space span, .ui-keyboard-empty span {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.ui-keyboard-preview-wrapper {
    text-align: center;
    position: relative;
    overflow: hidden;
}
/* width is calculated in IE, since 99% = 99% full browser width =( */
.ui-keyboard-preview {
    text-align: left;
    margin: 0 0 3px 0;
    display: inline;
    width: 99%;
}
.ui-keyboard-keyset {
    text-align: center;
    white-space: nowrap;
}
.ui-keyboard-input {
    text-align: left;
}
.ui-keyboard-input-current {
    -moz-box-shadow: 0 0 5px #4d90fe;
    -webkit-box-shadow: 0 0 5px #4d90fe;
    box-shadow: 0 0 5px #4d90fe;
}
.ui-keyboard-placeholder {
    color: #888;
}
/* disabled or readonly inputs, or use
 input[disabled='disabled'] { color: #f00; } */
.ui-keyboard-nokeyboard {
    color: #888;
    border-color: #888;
}
.ui-keyboard-spacer {
    display: inline-block;
    width: 1px;
    height: 0;
    cursor: default;
}

.ui-keyboard-NBSP span, .ui-keyboard-ZWSP span, .ui-keyboard-ZWNJ span,
.ui-keyboard-ZWJ span, .ui-keyboard-LRM span, .ui-keyboard-RLM span {
    font-size: 0.5em;
    line-height: 1.5em;
    white-space: normal;
}

/* combo key styling - toggles diacritics on/off */
.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
    border-color: #ffaf0f;
}

/* (in)valid inputs */
button.ui-keyboard-accept.ui-keyboard-valid-input {
    border-color: #0c0;
    background: #080;
    color: #fff;
}
button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover {
    background: #0a0;
}
button.ui-keyboard-accept.ui-keyboard-invalid-input {
    border-color: #c00;
    background: #800;
    color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover {
    background: #a00;
}

/*** Caret extension definition ***/
/* margin-top => is added to the caret height (top & bottom) */
.ui-keyboard-caret {
    background: #c00;
    width: 1px;
    margin-top: 3px;
}

/*** jQuery Mobile definitions ***/
/* jQuery Mobile styles - need wider buttons because of font size and
 text-overflow:ellipsis */
div.ui-body.ui-keyboard button.ui-keyboard-button.ui-btn {
    padding: 0.5em 1em;
    border-color: transparent;
}
.ui-body .ui-keyboard-button {
    width: 3em;
    height: 3em;
    display: inline-block;
}
.ui-body .ui-keyboard-widekey {
    width: 5.5em;
}
.ui-body .ui-keyboard-space {
    width: 15em;
}
.ui-body .ui-keyboard-space span {
    visibility: hidden; /* hides the ellipsis */
}
.ui-body .ui-keyboard-keyset {
    line-height: 0.5em;
}
.ui-body input.ui-input-text, .ui-body textarea.ui-input-text {
    width: 95%;
}

/* over-ride padding set by mobile ui theme - needed because the mobile script
 wraps button text with several more spans */
.ui-body .ui-btn-inner {
    height: 2em;
    padding: 0.2em 0;
    margin: 0;
}
.ui-body .ui-btn {
    margin: 0;
    font-size: 13px; /* mobile default size is 13px */
}

/* override Bootstrap excessive button padding */
button.ui-keyboard-button.btn {
    padding: 1px 6px;
}

/* enable/disable icons */
button.ui-keyboard-toggle span {
    width: .8em;
    height: .8em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
/* unlocked icon (keyboard enabled) */
button.ui-keyboard-toggle span {
    /* light theme unlocked icon - fill: #111 */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTguNyw0LjRINy41SDUuMHYtMS45YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40LDAtMi41LDEuMS0yLjUsMi41djEuOWgxLjIgdi0xLjljMC0wLjcsMC42LTEuMiwxLjItMS4yczEuMiwwLjYsMS4yLDEuMnYxLjljLTAuNywwLTEuMiwwLjYtMS4yLDEuMlY4LjggYzAsMC43LDAuNiwxLjIsMS4yLDEuMmg1LjBDOS40LDEwLDEwLDkuNCwxMCw4LjhWNS42QzEwLDUuMCw5LjQsNC40LDguOCw0LjR6IE02LjYsNy40djEuMCBjMCwwLjItMC4xLDAuMy0wLjMsMC4zUzYuMCw4LjYsNi4wLDguNFY3LjRjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zLDAuMy0wLjYsMC42LTAuNiBTNi45LDYuNiw2LjksNi45QzYuOSw3LjEsNi44LDcuMyw2LjYsNy40eiIvPjwvc3ZnPg==);
}
.ui-keyboard-dark-theme button.ui-keyboard-toggle span {
    /* dark theme unlocked icon - fill: #eee */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTguNyw0LjRINy41SDUuMHYtMS45YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40LDAtMi41LDEuMS0yLjUsMi41djEuOWgxLjIgdi0xLjljMC0wLjcsMC42LTEuMiwxLjItMS4yczEuMiwwLjYsMS4yLDEuMnYxLjljLTAuNywwLTEuMiwwLjYtMS4yLDEuMlY4LjggYzAsMC43LDAuNiwxLjIsMS4yLDEuMmg1LjBDOS40LDEwLDEwLDkuNCwxMCw4LjhWNS42QzEwLDUuMCw5LjQsNC40LDguOCw0LjR6IE02LjYsNy40djEuMCBjMCwwLjItMC4xLDAuMy0wLjMsMC4zUzYuMCw4LjYsNi4wLDguNFY3LjRjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zLDAuMy0wLjYsMC42LTAuNiBTNi45LDYuNiw2LjksNi45QzYuOSw3LjEsNi44LDcuMyw2LjYsNy40eiIvPjwvc3ZnPg==);
}

/* locked icon (keyboard disabled) */
button.ui-keyboard-toggle.ui-keyboard-disabled span {
    /* light theme locked icon - fill: #111 */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iIzExMSI+PHBhdGggZD0iTTcuNCA0LjRWMi41YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40IDAtMi41IDEuMS0yLjUgMi41djEuOSBjLTAuNyAwLTEuMiAwLjUtMS4yIDEuMnYzLjFDMS4zIDkuNCAxLjggMTAgMi41IDEwaDQuOWMwLjcgMCAxLjItMC42IDEuMi0xLjJWNS42IEM4LjcgNC45IDguMSA0LjQgNy40IDQuNHogTTUuMyA3LjR2MS4wYzAgMC4yLTAuMSAwLjMtMC4zIDAuM2MtMC4yIDAtMC4zLTAuMS0wLjMtMC4zVjcuNCBjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zIDAuMy0wLjYgMC42LTAuNmMwLjMgMCAwLjYgMC4zIDAuNiAwLjYgQzUuNiA3LjEgNS41IDcuMyA1LjMgNy40eiBNNi4yIDQuNEgzLjdWMi41YzAtMC43IDAuNS0xLjIgMS4yLTEuMmMwLjcgMCAxLjIgMC42IDEuMiAxLjIgVjQuNHoiLz48L3N2Zz4=);
}
.ui-keyboard-dark-theme button.ui-keyboard-toggle.ui-keyboard-disabled span {
    /* dark theme locked icon - fill: #eee */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTcuNCA0LjRWMi41YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40IDAtMi41IDEuMS0yLjUgMi41djEuOSBjLTAuNyAwLTEuMiAwLjUtMS4yIDEuMnYzLjFDMS4zIDkuNCAxLjggMTAgMi41IDEwaDQuOWMwLjcgMCAxLjItMC42IDEuMi0xLjJWNS42IEM4LjcgNC45IDguMSA0LjQgNy40IDQuNHogTTUuMyA3LjR2MS4wYzAgMC4yLTAuMSAwLjMtMC4zIDAuM2MtMC4yIDAtMC4zLTAuMS0wLjMtMC4zVjcuNCBjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zIDAuMy0wLjYgMC42LTAuNmMwLjMgMCAwLjYgMC4zIDAuNiAwLjYgQzUuNiA3LjEgNS41IDcuMyA1LjMgNy40eiBNNi4yIDQuNEgzLjdWMi41YzAtMC43IDAuNS0xLjIgMS4yLTEuMmMwLjcgMCAxLjIgMC42IDEuMiAxLjIgVjQuNHoiLz48L3N2Zz4=);
}

.ui-keyboard.ui-keyboard-disabled button:not(.ui-keyboard-toggle),
.ui-keyboard.ui-keyboard-disabled input {
    opacity: 0.5;
}

/*** Alt-Keys Popup extension ***/
/* clickable overlay on top of keyboard to hide the popup */
.ui-keyboard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
/* the actual popup styling, class names from the css.container option are also
 added */
.ui-keyboard-popup {
    display: inline-block;
    /* default buttons are 2em wide + .1em margin on either side (set in
    .ui-keyboard-button definition); so use multiples of 2.2em for a max-width
    if you don't want any extra white space on the sides, e.g.
    5 buttons * 2.2em = 11em,
    6 buttons * 2.2em = 13.2em, etc
    */
    max-width: 22em; /* 10 buttons */
}
.ui-keyboard.ui-keyboard-popup-open .ui-keyboard-keyset .ui-keyboard-button {
    /* Disable keys under overlay while popup is open - see #654 */
    pointer-events: none;
}

/*** Extender keyboard extension ***/
div.ui-keyboard-extender {
    margin-left: 5px;
}
button.ui-keyboard-extender span {
    width: .9em;
    height: .9em;
    display: inline-block;
    margin-bottom: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* light theme extender icon - fill: #111 */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgc3R5bGU9ImZpbGw6IzExMSI+PGc+PHBhdGggc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzExMSIgZD0iTSAwLjUsNC41IDE1LjUsNC41IDE1LjUsMTUuNSAwLjUsMTUuNSBaIj48L3BhdGg+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iMiIgeT0iNiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjYiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSI4IiB5PSI2Ij48L3JlY3Q+PHBhdGggZD0ibSAxMSw2IDMsMCAwLDUgLTIsMCAwLC0zIC0xLDAgeiI+PC9wYXRoPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjEyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjEyIj48L3JlY3Q+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iOSIgeT0iOSI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjkiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSIyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHg9IjIiIHk9IjkiPjwvcmVjdD48L2c+PC9zdmc+);
}
.ui-keyboard-dark-theme button.ui-keyboard-extender span {
    /* dark theme extender icon - fill: #eee */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgc3R5bGU9ImZpbGw6I2VlZSI+PGc+PHBhdGggc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6I2VlZSIgZD0iTSAwLjUsNC41IDE1LjUsNC41IDE1LjUsMTUuNSAwLjUsMTUuNSBaIj48L3BhdGg+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iMiIgeT0iNiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjYiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSI4IiB5PSI2Ij48L3JlY3Q+PHBhdGggZD0ibSAxMSw2IDMsMCAwLDUgLTIsMCAwLC0zIC0xLDAgeiI+PC9wYXRoPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjEyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjEyIj48L3JlY3Q+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iOSIgeT0iOSI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjkiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSIyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHg9IjIiIHk9IjkiPjwvcmVjdD48L2c+PC9zdmc+);
}

/* Media Queries (optimized for jQuery UI themes;
 may be slightly off in jQuery Mobile themes) */
/* 240 x 320 (small phone)  */
@media all and (max-width: 319px) {
    .ui-keyboard div {
        font-size: 9px;
    }
    .ui-keyboard .ui-keyboard-input {
        font-size: 12px;
    }
    /* I don't own an iPhone so I have no idea how small this really is... is it
    even clickable with your finger? */
    .ui-body .ui-btn {
        margin: 0;
        font-size: 9px;
    }
    .ui-body .ui-keyboard-button {
        width: 1.8em;
        height: 2.5em;
    }
    .ui-body .ui-keyboard-widekey {
        width: 4em;
    }
    .ui-body .ui-keyboard-space {
        width: 8em;
    }
    .ui-body .ui-btn-inner {
        height: 2.5em;
        padding: 0.3em 0;
    }
}

/* 320 x 480 (iPhone)  */
@media all and (min-width: 320px) and (max-width: 479px) {
    .ui-keyboard div {
        font-size: 9px;
    }
    .ui-keyboard .ui-keyboard-input {
        font-size: 14px;
    }
    /* I don't own an iPhone so I have no idea how small this really is... is it
    even clickable with your finger? */
    .ui-body .ui-btn {
        margin: 0;
        font-size: 11px;
    }
    .ui-body .ui-keyboard-button {
        width: 1.8em;
        height: 3em;
    }
    .ui-body .ui-keyboard-widekey {
        width: 4.5em;
    }
    .ui-body .ui-keyboard-space {
        width: 10em;
    }
    .ui-body .ui-btn-inner {
        height: 3em;
        padding: 0.7em 0;
    }
}

/* 480 x 640 (small tablet) */
@media all and (min-width: 480px) and (max-width: 767px) {
    .ui-keyboard div {
        font-size: 13px;
    }
    .ui-keyboard .ui-keyboard-input {
        font-size: 14px;
    }
    .ui-body .ui-btn {
        margin: 0;
        font-size: 10px;
    }
    .ui-body .ui-keyboard-button {
        height: 2.5em;
    }
    .ui-body .ui-btn-inner {
        height: 2.5em;
        padding: 0.5em 0;
    }
}

.CodeMirror {
    float: left;
    width: 100%;

    /*height: 100%;*/
    /*height: -webkit-calc(100% - 23px);*/
    /*height: -moz-calc(100% - 23px);*/
    /*height: calc(100% - 52px);*/

    /*height: -webkit-calc(100% - 500px);*/
    /*height: -moz-calc(100% - 500px);*/
    height: calc(100% - 54px);
}
.cm-matchhighlight {
    border:1px solid #eee;
    border-radius: 3px;
}
.CodeMirror-selection-highlight-scrollbar {
    background-color: #eee;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAYAAADJsB7sAAAAEElEQVR42mNU11D6zzAAAACqCQFyB4r58gAAAABJRU5ErkJggg==);
    background-position: right;
    background-repeat: no-repeat;
}
.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}
body{
    margin: 0px;
    overflow: hidden;
    /*display: flex;  enables flex content for its children
    box-sizing: border-box;*/
}

/*:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}*/
input, button, textarea, :focus {
    outline: none;
}

::-webkit-scrollbar{
    width: 4px;  /* for vertical scrollbars */
    height: 4px; /* for horizontal scrollbars */
}

/*::-webkit-scrollbar-track{
  background: #4b4c43;
}
*/
::-webkit-scrollbar-thumb{
    background: #4b5362;
    border-radius: 5px;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

/*#code{
	padding: 1px;
	position: absolute;
	margin: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: auto;
	height: 100%;
}*/
.footer{
    font-family: system-ui;
    line-height: 1.5em;
    /*padding:5px;*/
    /*background-color: #21252b;*/
    /*color:#9da5b4;*/
}
.label{
    font-family: system-ui;
    font-size: 33px;
    line-height: 34px;
    margin-left: 5px;
    padding-top:15px;
    margin-right: 5px;
}
.left{
    float:left;
}


.project-title{
    font-family: system-ui;
    font-size: 15px;
    /*background-color: #282c34;*/
    padding:7px;
}

/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    /*avoid browser level touch actions */
    xtouch-action: none;
}

.side-nav {
    overflow: auto;
    flex: 0 0 auto;
    /* only manually resize */
    /*padding: 10px;*/
    width: 150px;
    /*min-height: 200px;*/
    /*min-width: 50px;*/
    white-space: nowrap;
    /*background: #282c34;*/
    /*color: #9da5b4;*/
}

/*.side-nav-button-active{
	color:#bd1010;
}*/

#project-structure{
    overflow: visible;
    height: calc(100% - 33px);
}

.panel-left {
    display: block;
    overflow: hidden;
    flex: 0 0 auto;
    /* only manually resize */
    /*padding: 10px;*/
    width: 100%;
    max-height: 50px;
    white-space: nowrap;
    color: #9da5b4;
}

.splitter {
    flex: 0 0 auto;
    width: 5px;
    min-height: 200px;
    cursor: col-resize;
}

.panel-middle {
    flex: 0 0 auto;
    /*flex:1;*/
    /* resizable */
    /*padding: 10px;*/
    width: 100%;
    overflow: scroll;
    max-height: 1200px;
    min-width: 0px;
    background: rgba(0,0,0,1);
}
.panel-middle:hover ~ .panel-bottom {
    opacity: 0;
}
.panel-bottom:hover ~ .panel-middle {
    opacity: 0;
}
#loader {
    border: 20px solid #bdbdbd;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 20px solid #555;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-left: 42%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.splitter2 {
    flex: 0 0 auto;
    width: 5px;
    /*background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #21252b;*/
    min-height: 200px;
    cursor: col-resize;
}

/*-----------------------------*/

.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid silver;
    overflow: hidden;
}

.panel-top {
    flex: 1 1 auto;
    /* only manually resize */
    min-height: 200px;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
    cursor: row-resize;
}

.panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    /*   padding: 10px; */

}


/*-----------------------------*/

.panel-right {
    /*overflow: auto;*/
    /*font-family: system-ui;*/
    /*flex: 1 1 auto;*/
    /*background: white;*/
    /*width:25%;*/
    /*flex:1;*/
    /* resizable */
    /*padding: 10px;*/
    /*min-height: 200px;*/
    /*min-width: 200px;*/
    /*white-space: nowrap;*/
    height: 100%;
    width: 0;
    position: fixed;
    padding:1px;
    margin: 2px;
    z-index: 1;
    top: 0;
    right: 0;
    background: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
}

.console-container{
    margin:10px;
    display: none;
}

.console{
    font-family: monospace;
    font-size: 13;
    white-space: pre-line;
    background: transparent;
    width:100%;
    border:none;
    /*color:#fff;*/
    height: 50%;
    resize: none;
}

.html-preview{
    display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
}
.markdown-preview{
    display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    border: none;
}

.code-sharing-panel{
    position: relative;
    display: none;
    font-family: monospace;
    font-size: 13;
    white-space: pre-line;
    width:100%;
    border:none;
    /*color:#fff;*/
    height: 100%;
}

.update-download-section{
    position: relative;
    vertical-align: middle;
    display: none;
    /*background: #fff;*/
    width: 100%;
    height: 100%;
    /*border: none;*/
}

.terminal-container{
    position: relative;
    /* display: none; */
    width: 100%;
    height: 100%;
}

.centered-box{
    position: absolute;
    /*top: 0;*/
    bottom: 50%;
    left: 0;
    right: 0;
    /*width: 50%;*/
    /*height: 0;*/
    margin: auto;
}

.vertical-align-middle{
    vertical-align: middle;
}

.run-button{
    cursor: pointer;
}

.stop-button{
    cursor: pointer;
    width: 20px;
    margin:10px;
}
.close {
    position: relative;
    /* display: inline-block;
     width: 50px;
     height: 50px;*/
    overflow: hidden;
}
/*.close:hover::before, .close:hover::after {
  background: #bd1010;
}*/
.close::before, .close::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 35px;
    top: 60%;
    left: 25;
    margin-top: -1px;
    /*background: #929292;*/
}
.close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close.black::before, .close.black::after {
    /*height: 8px;*/
    margin-top: -4px;
}

.dot {
    position: absolute;
    height: 25.5px;
    width: 35px;
    top:25%;
    right:12;
    /*background-color: #ff4444;*/
    border-radius: 50%;
    /*display: inline-block;*/
}

.btn{
    min-width: 146px;
    border:2px solid #ff3939;
    outline: none;
    background: none;
    padding: 10px;
    color:#ff6868;
}
.btn:hover{
    cursor: pointer;
    /*background:#79df67;*/
    /*color:#a6ed9a;*/
}


.settings-panel{
    padding-top:20px;
    position: relative;
    /*vertical-align: middle;*/
    display: none;
    width: 100%;
    height: 100%;
    /*margin-left: 200px;*/
}

.left-settings-panel{
    /*margin-top: 10px;*/
    float: left;
    width: 200px;
    /*margin-left: -200px;*/
    /*background-color: #CCCCCC;*/
}
.right-settings-panel{
    word-wrap: break-word;
    overflow: overlay;
    padding-left:20px;
    /*margin-top: 10px;*/
    height: 100%;
    float: right;
    width: calc(100% - 200px);
    /*background-color: #F0F0F0;*/
}

#menu > li{
    padding:10px;
}

#menu > li:hover{
    cursor: pointer;
}

.theme-container{
    display: inline-block;
    padding:10px;
}

.theme-img{
    width: 170px;
    height: 100px;
}

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
    border-color: #ff3939;
}
.label-cbx input:checked + .checkbox svg path {
    fill: #ff3939;
}
.label-cbx input:checked + .checkbox svg polyline {
    stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
}
.label-cbx .checkbox {
    position: relative;
    top: 2px;
    float: left;
    margin-right: 8px;
    width: 17px;
    height: 17px;
    border: 2px solid #9da5b4;
    border-radius: 3px;
}
.label-cbx .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}
.label-cbx .checkbox svg path {
    fill: none;
    stroke: #ff3939;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}
.label-cbx > span {
    pointer-events: none;
    vertical-align: middle;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkbox-description{
    margin-top: 0;
    padding: 2px;
    font-size: 12px;
    margin-left: 25px;
}
.checkbox-description-input{
    margin-top: 0;
    padding: 2px;
    font-size: 12px;
    /*margin-left: 25px;*/
}

.input-field{
    border:2px solid #ff3939;
    color:inherit;
    background-color: inherit;
    width: calc(100% - 40%);
    padding:15px;
    height: 20px;
}
::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.custom-badge {
    top:0;
    color:#ff3939;
    left:20px;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
}
CodeMirror {border-top: 0px solid black; border-bottom: 0px solid black;}
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white; }
.styled-background { background-color: #ff7}
.sub {
    vertical-align: 0;
    position: relative;
    top: 0.8ex;
    font-size: 80%;
}
.nav >li {
    position: relative;
    display: block;
    width: 120px;
    height: 25px;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
#keyboard {
    list-style: none;
}
#keyboard input {
    float: left;
    height: 110px;
    /* box-sizing: border-box; */
    font-weight: bold;
    width: 110px;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    font-size: 33px;
    text-align: center;
    color: #b6b6b6;
    background: rgba(0,0,0,0.75);
}
#keyboard input:hover {
    background: rgba(175,23,72,0.77);
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete, #keyboard .backspace , #keyboard .nums, #keyboard .return, #keyboard .uparrow , #keyboard .downarrow ,#keyboard .leftarrow , #keyboard .rightarrow {
    /*background: grey;*/
}
#keyboard .letter{
}
#keyboard .symbol {
    display: none;
}
#keyboard .capslock {

}
#keyboard .left-shift {

}
#keyboard .right-shift {
}
.lastitem {
    margin-right: 0;
}
.separator {
    margin-right:60px;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {

}
.on {
    display: none;
}